wrapper {
    width: 100%;
    /* Full width container */
    overflow: hidden;
    /* Hide content outside the view */
    color: black;
    /* Text color for contrast */
    font-size: 18px;
    /* Adjust text size */
    white-space: nowrap;
    /* Prevent text wrapping */
    display: flex;
    align-items: center;
    height: 50px;
    /* Height of the marquee area */
    justify-content: flex-end;
    /* Start text from the right */
    border: 1px solid black;
}

/* .marquee-text {
    display: inline-block;
    animation: scroll-right 8s linear infinite;
} */

.marquee-text-track{
    width: max-content;
    animation: marquee-move-text 10s linear infinite;
    /* font-size: larger; */
}
.fadeout-horizontal{
    mask-image: linear-gradient(
        to right,
        transparent,
        white 5px,
        white calc(100% - 2rem),
        transparent 
    );
}

@keyframes marquee-move-text{
    to{
        transform: translateX(-50%);
    }
}