@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(184, 184, 184, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(87, 87, 87, 0.7);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* .side-bar {
  overflow: auto;
  height: 100vh;
  position: 'fixed';
  top: 0;
  bottom: 0;
} */

.wrapper {
  /* max-width: 1440px; */
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 961px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1025px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media (min-width: 1281px) {
  .wrapper {
    max-width: 1280px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1450px;
  }
}

@media (min-width: 1912px) {
  .wrapper {
    max-width: 2560px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: rgba(28, 17, 41, 0.88);
}

.menu-bar {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}
