.drawer .collapse-title {
    color: #001167;
    font-size: 0.9rem;
    font-weight: 700;
}

.disk-title {
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.usage-scroll-container {
  overflow-x: hidden; /* Hide overflow to prevent visible scrollbar */
  white-space: nowrap;
  max-width: 300px; /* Fixed width */
  padding-bottom: 4px; /* Space for aesthetics */
  position: relative; /* For positioning inner content */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.usage-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.usage-scroll-inner {
  display: inline-block; /* Allow translation */
  white-space: nowrap; /* Prevent wrapping */
}

.usage-scroll-container:hover .usage-scroll-inner {
  animation: marquee 25s linear infinite;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ant-badge-status-default {
    background-color: #e0282b !important; /* hoặc màu đỏ bạn muốn */
}