.analyze-overlay {
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.9); 
    position: fixed;
    margin-left: -1rem;
    z-index: 100; /* Just to keep it at the very top */
}

.analyze-overlay .overlay-close {
    position: absolute;
    top: 1rem;
    right: 5rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.analyze-overlay .range-picker {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35vh;
    gap: 0.3rem;
}

.analyze .traffic-chart {
    width: 100%;
    height: 250px;
    display: flex;
    /* align-items: center; */
}

.analyze .traffic-chart p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #4e4e4e;
}

.analyze .traffic-chart .highlight-word {
    color: black;
    font-size: 1.15rem;
    font-weight: bold;
    align-self: center;
}

.analyze .traffic-chart .bigger-highlight-word {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    /* align-self: center; */
}

.analyze .traffic-chart .additional-info-area {
    background-color: rgb(231, 231, 231);
    border-radius: 0.3rem;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.analyze .traffic-chart .additional-info-area p {
    font-size: 0.9rem;
    color: rgb(110, 110, 110);
}

.analyze .traffic-chart .additional-info-area span {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 0.9rem;
}

.analyze .trend-chart {
    width: 100%;
    height: 250px;
    /* //align its item to the center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.analyze .geo-chart {
    height: 310px;
}